@import "reset";
@import "globals";
@import "colors";
@import "fonts";
@import "variables";
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 151px;
    margin-top: 24px;
    margin-bottom: 112px;
    .header-logo {
        width: 96px;
        height: 16px;
        background-image: url(/huddle-curved/images/logo.svg);
        background-size: contain;
    }
    .header-btn {
        width: 80px;
        height: 23.53px;
        background-color: #ffffff;
        border: 0.588235px solid #FF52C1;
        box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
        border-radius: 11.7647px;
        @include header-btn;
    }
}

.intro {
    @include flex-col-centered;
    gap: 24px;
    h1 {
        @include h1-text-mobile;
    }
    p {
        width: 296px;
        @include p-text-mobile;
    }
    .intro-btn {
        @include button;
        margin-top: 24px;
        margin-bottom: 104px;
    }
}

.bg-views {
    @include flex-col-centered;
    .bg-img {
        width: 296px;
        height: 209px;
        background-image: url(/huddle-curved/images/screen-mockups.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 120px;
    }
    .views {
        display: flex;
        flex-direction: column;
        gap: 88px;
        .formed {
            width: 160px;
            height: 142px;
            background-image: url(/huddle-curved/images/icon-communities.svg);
            background-repeat: no-repeat;
            background-size: 36px 36px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            h2 {
                @include h2-text-mobile;
                font-size: 60.9524px;
                line-height: 91px;
            }
            p {
                @include p3-text-mobile;
                font-size: 15.2381px;
                line-height: 23px;
            }
        }
        .msg {
            @extend .formed;
            background-image: url(/huddle-curved/images/icon-messages.svg);
            width: 160px;
            height: 126px;
            h2 {
                @include h2-text-mobile;
                font-size: 53.5192px;
                line-height: 80px;
            }
            p {
                @include p3-text-mobile;
                font-size: 13.3798px;
                line-height: 20px;
            }
        }
    }
}

.cards {
    h2 {
        @include h2-text-mobile;
        margin-bottom: 16px;
    }
    p {
        @include p-text-mobile;
        width: 320px;
    }
    .grow {
        height: 763px;
        @include flex-col-centered;
        .for-bg {
            background: #F6FBFF;
            width: 100%;
            @include flex-col-centered;
        }
        .top-bg {
            width: 100%;
            height: 112px;
            background-image: url(/huddle-curved/images/bg-section-top-mobile-1.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .bottom-bg {
            width: 100%;
            height: 103px;
            background-image: url(/huddle-curved/images/bg-section-bottom-mobile-1.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .grow-bg {
            width: 280px;
            height: 280px;
            background-image: url(/huddle-curved/images/illustration-grow-together.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 6px;
        }
    }
    .flow {
        @include flex-col-centered;
        margin-bottom: 120px;
        .flow-bg {
            width: 280px;
            height: 280px;
            background-image: url(/huddle-curved/images/illustration-flowing-conversation.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .users {
        @include flex-col-centered;
        .for-bg-2 {
            @include flex-col-centered;
            background: #F6FBFF;
            width: 100%;
        }
        .users-bg {
            width: 280px;
            height: 280px;
            background-image: url(/huddle-curved/images/illustration-your-users.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        .top-bg-2 {
            width: 100%;
            height: 103px;
            background-image: url(/huddle-curved/images/bg-section-top-mobile-2.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .bottom-bg-2 {
            @extend .top-bg-2;
            height: 101px;
            background-image: url(/huddle-curved/images/bg-section-bottom-mobile-2.svg);
            margin-top: -2px;
        }
    }
}

.ready {
    @include flex-col-centered;
    margin-top: 50px;
    gap: 40px;
    h2 {
        @include h1-text-mobile;
    }
    button {
        @include button;
        margin-bottom: 251px;
    }
}

footer {
    width: 100%;
    height: 787px;
    h2 {
        @include h2-footer;
        margin-bottom: 16px;
    }
    p {
        @include p-text-mobile;
        text-align: left;
        color: #ffffff;
        margin-bottom: 32px;
    }
    button {
        @include button;
        font-size: 16px;
        line-height: 24px;
        width: 160px;
        height: 48px;
        border-radius: 5px;
    }
    .for-bg-footer {
        height: 732px;
        background: #00252E;
        margin-top: -2px;
        color: #ffffff;
    }
    .bg-footer {
        width: 100%;
        height: 53px;
        background-image: url(/huddle-curved/images/bg-footer-top-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .form {
        width: 320px;
        height: 286px;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 104px;
        input {
            width: 320px;
            height: 48px;
            border-radius: 6px;
        }
        .input {
            @include flex-col-centered;
            gap: 16px;
            align-items: flex-end;
        }
    }
    .contact {
        width: 320px;
        height: 295px;
        @include flex-col-centered;
        align-items: flex-start;
        margin: 0 auto;
        .footer-logo {
            width: 200px;
            height: 32px;
            background-image: url(/huddle-curved/images/logo2.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 40px;
        }
        .phone {
            width: 199px;
            height: 24px;
            @include p-text-mobile;
            color: #ffffff;
            background-image: url(/huddle-curved/images/icon-phone.svg);
            background-repeat: no-repeat;
            padding-left: 16px;
            margin-bottom: 16px;
        }
        .mail {
            width: 201px;
            height: 24px;
            @include p-text-mobile;
            color: #ffffff;
            background-image: url(/huddle-curved/images/icon-email.svg);
            background-repeat: no-repeat;
            padding-left: 16px;
            margin-bottom: 48px;
        }
        .social-icons {
            width: 104px;
            height: 23px;
            display: flex;
            gap: 17.3px;
            .fb {
                width: 23px;
                height: 23px;
                background-image: url(/huddle-curved/images/fb-logo.svg);
            }
            .twitter {
                width: 23px;
                height: 23px;
                background-image: url(/huddle-curved/images/twitter-logo.svg);
            }
            .instagram {
                width: 29px;
                height: 28px;
                background-image: url(/huddle-curved/images/icons8-instagram.svg);
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: -2px;
            }
        }
    }
}