@import "reset";
@import "globals";
@import "colors";
@import "fonts";
@import "variables";
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 151px;
    margin-top: 24px;
    margin-bottom: 112px;
    .header-logo {
        width: 96px;
        height: 16px;
        background-image: url(/huddle-curved/images/logo.svg);
        background-size: contain;
    }
    .header-btn {
        width: 80px;
        height: 23.53px;
        background-color: #ffffff;
        border: 0.588235px solid #FF52C1;
        box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
        border-radius: 11.7647px;
        @include header-btn;
    }
}

.intro {
    @include flex-col-centered;
    gap: 24px;
    h1 {
        @include h1-text-mobile;
    }
    p {
        width: 296px;
        @include p-text-mobile;
    }
    .intro-btn {
        @include button;
        margin-top: 24px;
        margin-bottom: 104px;
    }
}

.bg-views {
    @include flex-col-centered;
    .bg-img {
        width: 296px;
        height: 209px;
        background-image: url(/huddle-curved/images/screen-mockups.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 120px;
    }
    .views {
        display: flex;
        flex-direction: column;
        gap: 88px;
        .formed {
            width: 160px;
            height: 142px;
            background-image: url(/huddle-curved/images/icon-communities.svg);
            background-repeat: no-repeat;
            background-size: 36px 36px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            h2 {
                @include h2-text-mobile;
                font-size: 60.9524px;
                line-height: 91px;
            }
            p {
                @include p3-text-mobile;
                font-size: 15.2381px;
                line-height: 23px;
            }
        }
        .msg {
            @extend .formed;
            background-image: url(/huddle-curved/images/icon-messages.svg);
            width: 160px;
            height: 126px;
            h2 {
                @include h2-text-mobile;
                font-size: 53.5192px;
                line-height: 80px;
            }
            p {
                @include p3-text-mobile;
                font-size: 13.3798px;
                line-height: 20px;
            }
        }
    }
}

.cards {
    h2 {
        @include h2-text-mobile;
        margin-bottom: 16px;
    }
    p {
        @include p-text-mobile;
        width: 320px;
    }
    .grow {
        height: 763px;
        @include flex-col-centered;
        .for-bg {
            background: #F6FBFF;
            width: 100%;
            @include flex-col-centered;
        }
        .top-bg {
            width: 100%;
            height: 112px;
            background-image: url(/huddle-curved/images/bg-section-top-mobile-1.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .bottom-bg {
            width: 100%;
            height: 103px;
            background-image: url(/huddle-curved/images/bg-section-bottom-mobile-1.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .grow-bg {
            width: 280px;
            height: 280px;
            background-image: url(/huddle-curved/images/illustration-grow-together.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 6px;
        }
    }
    .flow {
        @include flex-col-centered;
        margin-bottom: 120px;
        .flow-bg {
            width: 280px;
            height: 280px;
            background-image: url(/huddle-curved/images/illustration-flowing-conversation.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .users {
        @include flex-col-centered;
        .for-bg-2 {
            @include flex-col-centered;
            background: #F6FBFF;
            width: 100%;
        }
        .users-bg {
            width: 280px;
            height: 280px;
            background-image: url(/huddle-curved/images/illustration-your-users.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        .top-bg-2 {
            width: 100%;
            height: 103px;
            background-image: url(/huddle-curved/images/bg-section-top-mobile-2.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .bottom-bg-2 {
            @extend .top-bg-2;
            height: 101px;
            background-image: url(/huddle-curved/images/bg-section-bottom-mobile-2.svg);
            margin-top: -2px;
        }
    }
}

.ready {
    @include flex-col-centered;
    margin-top: 50px;
    gap: 40px;
    h2 {
        @include h1-text-mobile;
    }
    button {
        @include button;
        margin-bottom: 251px;
    }
}

footer {
    width: 100%;
    height: 787px;
    position: relative;
    h2 {
        @include h2-footer;
        margin-bottom: 16px;
    }
    p {
        @include p-text-mobile;
        text-align: left;
        color: #ffffff;
        margin-bottom: 32px;
    }
    button {
        @include button;
        font-size: 16px;
        line-height: 24px;
        width: 160px;
        height: 48px;
        border-radius: 5px;
    }
    .for-bg-footer {
        height: 732px;
        background: #00252E;
        margin-top: -2px;
        color: #ffffff;
    }
    .bg-footer {
        .bg-footer-desktop {
            display: none;
        }
        .bg-footer-mobile {
            width: 100%;
            height: 5.3rem;
        }
        width: 100%;
        height: 53px;
        position: relative;
        top: -15px;
        left: 0;
    }
    .form {
        width: 320px;
        height: 286px;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 104px;
        input {
            width: 320px;
            height: 48px;
            border-radius: 6px;
        }
        .input {
            @include flex-col-centered;
            gap: 16px;
            align-items: flex-end;
        }
    }
    .contact {
        width: 320px;
        height: 295px;
        @include flex-col-centered;
        align-items: flex-start;
        margin: 0 auto;
        .footer-logo {
            width: 200px;
            height: 32px;
            background-image: url(/huddle-curved/images/logo2.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 40px;
        }
        .phone {
            width: 199px;
            height: 24px;
            @include p-text-mobile;
            color: #ffffff;
            background-image: url(/huddle-curved/images/icon-phone.svg);
            background-repeat: no-repeat;
            padding-left: 16px;
            margin-bottom: 16px;
        }
        .mail {
            width: 201px;
            height: 24px;
            @include p-text-mobile;
            color: #ffffff;
            background-image: url(/huddle-curved/images/icon-email.svg);
            background-repeat: no-repeat;
            padding-left: 16px;
            margin-bottom: 48px;
        }
        .social-icons {
            width: 115px;
            height: 23px;
            display: flex;
            gap: 17.3px;
            .fb {
                width: 23px;
                height: 23px;
                background-image: url(/huddle-curved/images/fb-logo.svg);
                background-repeat: no-repeat;
            }
            .twitter {
                width: 25px;
                height: 25px;
                background-image: url(/huddle-curved/images/twitter-logo.svg);
                background-repeat: no-repeat;
            }
            .instagram {
                width: 29px;
                height: 28px;
                background-image: url(/huddle-curved/images/icons8-instagram.svg);
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: -2px;
            }
        }
    }
}

// Responsive design for desktop version
@media screen and (min-width:1440px) {
    header {
        height: 40px;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 63px;
        margin-top: 78px;
        margin-bottom: 225px;
        .header-btn {
            width: 126px;
            height: 40px;
            border-radius: 50px;
            font-size: 16px;
            line-height: 22px;
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
        .header-logo {
            width: 240px;
            height: 40px;
            background-repeat: no-repeat;
        }
    }
    .intro {
        h1 {
            @include h1-text-desktop;
        }
        p {
            @include p1-text-desktop;
            width: 600px;
        }
        .intro-btn {
            width: 400px;
            height: 80px;
            border-radius: 50px;
            @include p1-text-desktop;
            color: #ffffff;
            margin-bottom: 120px;
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
    .bg-views {
        .bg-img {
            width: 1016px;
            height: 720px;
        }
        .views {
            flex-direction: row;
            gap: 341px;
            width: 880px;
            height: 222px;
            margin: 0 auto;
            align-items: center;
            .msg,
            .formed {
                background-size: 56px 56px;
                height: 202px;
                h2 {
                    font-size: 96px;
                    line-height: 144px;
                }
                p {
                    font-size: 24px;
                    line-height: 36px;
                    width: 245px;
                    margin-top: -15px;
                }
            }
        }
    }
    .cards {
        h2 {
            @include h2-text-desktop;
        }
        .grow {
            margin-bottom: 103px;
            height: 963px;
            .top-bg {
                background-image: url(/huddle-curved/images/bg-section-top-desktop-1.svg);
                height: 160px;
            }
            .bottom-bg {
                background-image: url(/huddle-curved/images/bg-section-bottom-desktop-1.svg);
                height: 135px;
            }
            .for-bg {
                height: 560px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 25% 50% 25%;
                .grow-bg {
                    grid-column: 2/2;
                    grid-row: 2/2;
                    width: 560px;
                    height: 560px;
                    margin-top: 150px;
                }
                h2 {
                    grid-column: 1/1;
                    grid-row: 2/2;
                    width: 520px;
                    margin-left: 16px;
                    margin-bottom: 0;
                }
                p {
                    grid-column: 1/1;
                    grid-row: 3/3;
                    width: 520px;
                    height: 72px;
                    margin-top: -270px;
                    margin-left: 130px;
                    @include p2-text-desktop;
                    text-align: left;
                }
            }
        }
        .flow {
            height: 560px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 50% 25%;
            margin-bottom: 0;
            .flow-bg {
                width: 560px;
                height: 560px;
                margin-top: 500px;
                margin-left: 120px;
            }
            p {
                width: 520px;
                grid-column: 2/2;
                @include p2-text-desktop;
                text-align: left;
                margin-left: 25px;
            }
            h2 {
                width: 520px;
                margin-bottom: -270px;
            }
        }
        .users {
            .top-bg-2 {
                background-image: url(/huddle-curved/images/bg-section-top-desktop-2.svg);
                height: 156px;
            }
            .bottom-bg-2 {
                background-image: url(/huddle-curved/images/bg-section-bottom-desktop-2.svg);
                height: 139px;
            }
            .for-bg-2 {
                height: 560px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 25% 50% 25%;
                .users-bg {
                    grid-column: 2/2;
                    grid-row: 2/2;
                    width: 560px;
                    height: 560px;
                    margin-top: 150px;
                }
                h2 {
                    grid-column: 1/1;
                    grid-row: 2/2;
                    width: 220px;
                    margin-left: 130px;
                    margin-bottom: 0;
                }
                p {
                    grid-column: 1/1;
                    grid-row: 3/3;
                    width: 520px;
                    height: 72px;
                    margin-top: -270px;
                    margin-left: 130px;
                    @include p2-text-desktop;
                    text-align: left;
                }
            }
        }
    }
    .ready {
        margin-bottom: 150px;
        h2 {
            @include h2-text-desktop;
        }
        .ready-btn {
            width: 400px;
            height: 80px;
            border-radius: 50px;
            @include p1-text-desktop;
            color: #ffffff;
            margin-bottom: 120px;
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
    footer {
        .bg-footer-mobile {
            display: none;
        }
        .bg-footer-desktop {
            display: block !important;
        }
        .bg-footer {
            height: 170px;
            top: 0;
            .bg-footer-desktop {
                width: 100%;
            }
            // background-image: url(/huddle-curved/images/bg-footer-top-desktop.svg);
        }
        .for-bg-footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .input {
                width: 520px;
                flex-direction: row;
                gap: 40px;
                padding: 0;
                button:hover {
                    cursor: pointer;
                    background-color: #FF8ED7;
                }
            }
        }
        h2 {
            font-size: 24px;
            line-height: 36px;
        }
        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
        }
        .form {
            width: 520px;
        }
        .contact {
            .social-icons {
                .fb:hover,
                .instagram:hover,
                .twitter:hover {
                    cursor: pointer;
                    filter: brightness(0) saturate(100%) invert(57%) sepia(81%) saturate(385%) hue-rotate(121deg) brightness(92%) contrast(90%);
                }
            }
        }
    }
}